<div class="list-container">
  <div class="top-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearchChange()"
      placeholder="Пошук..."
    />
    <button (click)="navigateToAdd()">＋ Додати новий</button>
  </div>

  <div *ngIf="projects$ | async as projects; else noData">
    <app-item-card
      *ngFor="let project of projects"
      [project]="project"
      (select)="onProjectSelected(project)"
    ></app-item-card>
  </div>

  <ng-template #noData>
    <p>Немає даних для відображення.</p>
  </ng-template>
</div>
