<div class="app-container">
  <h1>{{ title }}</h1>

  <nav>
    <button routerLink="/items" class="nav-btn">Список</button>
    <button routerLink="/items/new" class="nav-btn">Додати новий</button>
    <button (click)="runAllTests()" class="test-btn">▶ Запустити тести</button>
  </nav>

  <router-outlet></router-outlet>

  <div *ngIf="testResults.length > 0" class="test-results">
    <h3>Результати тестів:</h3>
    <ul>
      <li *ngFor="let res of testResults">{{ res }}</li>
    </ul>
  </div>
</div>
